<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        textarea {
            height: 80vh;
            width: 40%
        }

        #app {
            padding-top: 5vh;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <textarea placeholder="input here" v-model='raw'></textarea>
        <textarea placeholder="python multiline comes out here" v-model='pythonText'></textarea>
    </div>

</body>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            raw: '',
        },
        computed: {
            pythonText() {
                if (!this.raw) { return '' }
                let lineList = this.raw.split('\n')
                let res = ``
                for (let line of lineList) {
                    res += `"${line} " \\\n`
                }
                return res.slice(0, res.length - 3)
            }
        },
    })
</script>

</html>
